{% extends 'base.html.twig' %}


{% block body %}
<h2>Erreur 404, la page demandée n'existe pas</h2>
<p>Essayes encore une fois </p>
{% endblock %}

{% block title %}Erreur 404 {{ parent() }}{% endblock %}