<footer class="reveal">
    <section class="foot reveal-4">
        <p><i>All works  &copy; Xavier Normandière {{ "now"|date("Y") }}</i></p>
        <p>Informations légales</p>
        <p>Liens rapides : <a href="{{ path('contact_formulaire') }}">Contact | </a>
            <a href="{{ path('login') }}">Login</a>
        </p>
    </section>
</footer>