<nav class="navbar navbar-expand-lg navbar-light bg-gradient bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{{ path('main_home') }}">Home Page | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"> Voyages | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('contact_formulaire') }}"> Contact |</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Autres ...
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>